.bravo_wrap {
    .form-search-all-service{
        .form-date-search-hotel{
            .check-in-out{
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
        }
        .searchMenu-guests{
            .count-display{
                input{
                    &::-webkit-inner-spin-button,&::-webkit-outer-spin-button{
                        display: none;
                    }
                    text-align: center;
                }
            }
        }
        .tabs__pane{
            .mainSearch{
                .button-grid{
                    &.button-column-4{
                        @media (min-width: 992px){
                            grid-template-columns: auto auto auto 177px;
                        }
                    }
                    &.button-column-3{
                        @media (min-width: 992px){
                            grid-template-columns: auto auto 177px;
                        }
                    }
                    &.button-column-5{
                        @media (min-width: 992px){
                            grid-template-columns: 150px 150px 241px 192px 177px;
                        }
                        @media (min-width: 1200px){
                            grid-template-columns: auto auto auto auto 177px;
                        }

                    }
                }
            }
            &.-tab-item-flight{
                .bravo_form{
                    width: 100%;
                    max-width: 1110px;
                    .searchMenu-date{
                        .text-light-1{
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                    }
                }
                .form-select-seat-type{
                    .seat-input{
                        overflow: hidden;
                        width: 100%;
                        max-width: 235px;
                    }
                    .render{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
        &.home4-form-search-hotel{
            .masthead-slider{
                .swiper-slide{
                    .masthead__content{
                        .content-wrap{
                            margin-bottom: 188px;
                            @media (max-width: 991px){
                                margin-bottom: 434px;
                            }
                        }
                    }
                }
            }
            .bravo_form{
                width: 100%;
                max-width: 960px;
                position: absolute;
                bottom: 140px;
                left: 50%;
                transform: translateX(-50%);
                padding: 0!important;
                border-radius: 4px;
                box-shadow: 0 20px 40px 0 #05103612;
                @media (max-width: 991px){
                    max-width: 690px;
                }
                @media (max-width: 767px){
                    left: 0;
                    margin: 0 15px;
                    width: auto;
                    transform: none;
                }
                .button-grid{
                    @media (min-width: 992px){
                        grid-template-columns: 1fr 250px 290px auto;
                    }
                    >div:not(.button-item){
                        padding: 24px;
                        @media (max-width: 991px){
                            padding: 24px 30px!important;
                        }
                    }
                    .button-item{
                        height: 100%;
                        .button{
                            border-radius: 0!important;
                            height: 100%!important;
                            @media (max-width: 991px){
                                padding: 15px 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    .bravo-tour-service{
        .subtitle{
            max-width: 84%;
        }
        .form-search-service-tour{
            .bravo_form{
                width: 100%;
                border-radius: 4px;
                padding: 20px 20px 20px 0!important;
                @media (max-width: 767px){
                    padding: 5px 20px 20px 20px!important;
                }
                .button-item{
                    .button{
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .bravo-list-locations{
        &.style_8{
            .item{
                max-height: 300px;
            }
        }
    }
    .download-app{
        &.style_3{
            .col-left{
                order: 1;
            }
            .col-right{
                order: 0;
            }
        }
    }
    .news-list-block{
        .size-mb-100{
            @media(max-width: 767px){
                width: 100%;
                height: auto;
            }
        }
    }
}
.bravo-vendor-form-register,.bravo_gallery{
    .form-group{
        margin-bottom: 10px;
    }
    .form-control{
        border: 1px solid #ced4da;
        border-radius: 5px;
    }
    input[type=checkbox]{
        width: auto;
    }
    .embed-responsive{
        position: relative;
        display: block;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
    .embed-responsive-16by9::before {
        padding-top: 56.25%;
        display: block;
        content: "";
    }
    .embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
.bravo_wrap .bravo-video-popup {
    display: inline-block;
    position: relative;
    .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: .7;
        cursor: pointer;
    }
    &:hover .play-icon {
        opacity: 1;
    }
}
