.bravo-pagination, .goTrip-bravo-pagination{
    .custom-pagination{
        a{
            color: initial;
        }
        .p-item{
            &.active{
                .p-link{
                    background-color: var(--color-dark-1) !important;
                    color: var(--color-white);
                }
            }
            &:hover{
                .p-link{
                    background-color: var(--color-light-2);
                }
            }
        }
    }
}
