node_modules
public/dist/frontend
public/dist/admin
!public/dist/frontend/module/template/preview/*
/public/hot
/public/storage
/public/uploads/0000
/storage/*.key
storage/app/*
!storage/app/public/
storage/app/public/*
!storage/app/public/demo/
/vendor
/.idea/*
!.idea/codeStyles/*
/resources/ckeditor/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.vscode
storage/bc.php
storage/pro.php
storage/installed
public/themes/*/dist
