.seo-preview {
    font-family: arial, sans-serif;

    .seo-favicon {
        background-color: #f1f3f4;
        border: 1px solid #ecedef;
        border-radius: 50%;
    }

    .seo-title {
        color: #202124;
        line-height: 20px;
        font-weight: 400;
    }

    .seo-url {
        color: #4d5156;
        line-height: 18px;
    }

    .seo-title {
        color: #1a0dab
    }

    .seo-desc {
        color: #4d5156
    }
}
